
<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{fragments/layout}">
    <head>
        <title>Error</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-4">

            <h3 class="display-5">Sorry an Error Occurred</h3>

            <div class="jumbotron">
            <dl class="row">
              <!--  <dt class="col-sm-2">Date</dt>
                <dd class="col-sm-10" th:text="${timestamp}"></dd> -->
                <dt class="col-sm-2">Path</dt>
                <dd class="col-sm-10" th:text="${path}"></dd>
                <dt class="col-sm-2">Error</dt>
                <dd class="col-sm-10" th:text="${error}"></dd>
                <dt class="col-sm-2">Status</dt>
                <dd class="col-sm-10" th:text="${status}"></dd>
                <dt class="col-sm-2">Message</dt>
                <dd class="col-sm-10" th:text="${message}"></dd>
                <dt class="col-sm-2">Exception</dt>
                <dd class="col-sm-10" th:text="${exception}"></dd>
                <dt class="col-sm-2">Trace</dt>
                <dd class="col-sm-10" th:text="${trace}"></dd>
            </dl>
            </div>
        </div>

    </body>
</html>